body {
  color: #414141;
  background-color: #F5F5E4;
  font-size:  19px;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.6em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica", "Arial", sans-serif;
    font-weight: normal;
}

.navigation li {
  float: left;
}

ul {
    list-style-type: circle;
}

.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ol {
    list-style-type: lower-roman;
}

a {
    text-decoration: none;
}

p {
    text-align: left;
}

/* Classes */

p:first-of-type {
  color: #7E8184;
  font-style: italic;
}
.synopsis em {
    font-style: normal;
}

.button:link,
.button:visited {
    display: block;
    text-decoration: none;
    
    color: #FFF;
    background-color: #5995DA;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid #5D6063;
    border-radius: 5px;
    
    width: 200px;
    margin: 20px auto;
}
.button:hover,
.button:visited:hover {
    color: #FFF;
    background-color: #76AEED;
}
.button:active,
.button:visited:action {
    color: #FFF;
    background-color: #5995DA;
}

#button-2 {
  color: #5D6063;  /* Dark gray */
}

.call-to-action:link,
.call-to-action:visited {
  font-style: italic;
  background-color: #EEB75A;     /* Yellow */
}

.call-to-action:hover,
.call-to-action:visited:hover {
  background-color: #F5CF8E;     /* Light yellow */
}

.call-to-action:active,
.call-to-action:visited:active {
  background-color: #EEB75A;     /* Yellow */
}

.page {
    width: 900px;
    margin: 0 auto;
}

p a:link {
    color: blue;
    text-decoration: none;
}
p a:visited {
    color: purple;
}
p a:hover {
    color: aqua;
    text-decoration: underline;
}
p a:active {
    color: red;
}
p a:visited:hover {
  color: orange;
}
p a:visited:active {
  color: red;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}